# =============================
# 🎙️ Mongolian Whisper API (Local + Render)
# FastAPI + Faster-Whisper (CTranslate2)
# =============================

python-dotenv==1.0.1

fastapi==0.115.0
uvicorn[standard]==0.38.0
python-multipart==0.0.20
aiofiles==24.1.0
requests==2.32.3

joblib==1.4.2
scikit-learn==1.5.2

edge-tts==6.1.12

faster-whisper==1.2.0
ctranslate2==4.6.0

soundfile==0.12.1
pydub==0.25.1
numpy==1.26.4

pydantic==2.9.2
psutil==5.9.8
